* {
    box-sizing: border-box;
}

body{
    background-color: #1e847f  ;
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}


/* Color Pallet:
    #5F0F40 = Tyrian Purple
    #9A031E = Ruby Red
    #FB8B24 = Dark Orange
    #E36414 = Spanish Orange
    #0F4C5C = Midnight Green Eagle Green
*/

header, footer {
    text-align: left;
    padding: 20px;
    background-color: #1e847f;
    color: #5F0F40;
}

nav {
    display: flex;
    justify-content: end;
    background-color: #1e847f;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a,
footer a {
    padding: 15px;
}

.footer-href {
    display: flex;
    float: right;
}
aside {
    height: 1050px;
    display:flex;
    float: left;
    flex-direction: column;
    background-color: #ecc19c;
}

h2 {
    display: flex;
    justify-content: start;
    padding: 20px;
}

#anchor-about {
    padding-bottom: 150px;
    color: #1e847f;
}

#anchor-work {
    color: #1e847f;
}
.headshot {
    display: flex;
    float:left;
    height: 250px;
    width: 250px;
    padding: 20px;
}


.container-1 {
    display: flex;
    flex-wrap: wrap;
    /* border-style: solid;
    border-color: blue; */
    background-color: #ecc19c;
}

.about-text {
    display: flex;
    justify-content:flex-end;
    max-width: 60%;
}

.container-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: flex-start; */
    height: 800px;
    /* border-style: solid;
    border-color: blue; */
    background-color: #ecc19c;
    align-items: stretch
}

.image {
    display: flex;
    align-content: flex-start;
    height: 200px;
    width: 400px;
    /* border-style: solid;
    border-color: yellow; */
}

.child-1 .image {
    display: flex;
    align-content: center;
    height: 200px;
    width: 800px;
    /* border-style: solid;
    border-color: yellow; */
}

.child-2 .image {
    display: flex;
    align-content: center;
}

div {
    width: 400px;
    height: 400px;
    margin: 5px;
    /* display: flex;
    flex-direction: row; */
        
}

.child-1 {
    /* display: flex;
    flex-wrap: wrap; */
    width: 1000px;
    height: 200px;
    
}

.child-2,
.child-3,
.child-4,
.child-5 {
    height:200px;
    /* display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: column;
} */

/* @media (max-width: 600px){
  .container-1,
  .container-2,
  div {
      display: inline-flexbox;
      flex-direction: column;
}}
} */



@media (max-width: 600px) {
    .container-1,
    .container-2,
    div {
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;}
    }}