* {
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF  ;
    color: #0F4C5C;
    font-family: 'Ubuntu', sans-serif;
}


/* Color Pallet:
    #5F0F40 = Tyrian Purple
    #9A031E = Ruby Red
    #FB8B24 = Dark Orange
    #E36414 = Spanish Orange
    #0F4C5C = Midnight Green Eagle Green
*/

header, footer {
    text-align: left;
    padding: 20px;
    background-color: #FB8B24;
    color: #5F0F40;
}

nav {
    display: flex;
    justify-content: end;
    background-color: #FB8B24;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a,
footer a {
    padding: 15px;
}

h2 {
    display: flex;
    justify-content: start;
    padding: 20px;
}

.headshot {
    display: flex;
    float:left;
    height: 250px;
    width: 250px;
    padding: 20px;


}


.container-1 {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color: blue;
    background-color: #9A031E;

}

.about-text {
    display: flex;
    justify-content:flex-end;
    max-width: 60%;
}

.container-2 {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    height: 1600px;
    border-style: solid;
    border-color: blue;
    background-color: #9A031E;
}

.image {
    display: flex;
    align-content: flex-start;
    height: 200px;
    width: 300px;
    border-style: solid;
    border-color: yellow;
}

.child-1 .image {
    display: flex;
    align-content: center;
    height: 200px;
    width: 800px;
    border-style: solid;
    border-color: yellow;
}

.child-2 .image {
    display: flex;
    align-content: center;
}

div {
    width: 400px;
    height: 400px;
    margin: 5px;
    /* display: flex;
    flex-direction: row; */
        
}

.child-1 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 800px;
    height: 200px;
    
}

.child-2,
.child-3,
.child-4,
.child-5 {
    height:200px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 600px){
  .container-1,
  .container-2,
  div {
      display: inline-flexbox;
      flex-direction: column;
  }
}
